/// 控制文本溢出显示...
/// @param {number} $lines 溢出显示的行数
/// @param {number} $substract 默认宽度 100% - 0
//-----------------------------------------------------
@mixin ellipsis($lines: 1, $substract: 0) {
  @if $lines == 1 {
    width: 100% - $substract;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  } @else {
    overflow:hidden;
    display:-webkit-box;
    display:box;
    -webkit-line-clamp: $lines;
    line-clamp: $lines;
    -webkit-box-orient: vertical;
    box-orient: vertical;
  }
}

// example
//-----------------------------------------------------
.box{
  @include ellipsis;
}
.box-clamp-3{
  @include ellipsis(3);
}
