/// 控制文本溢出显示...
/// @param {number} $width 溢出显示的宽度, [100%]
/// @param {number} $rows 溢出显示的行数, [1]
/// @param {string} $display 设置元素的显示值。[inline-block]
/// @example scss
/// .element {
///   @include ellipsis;
/// }
/// -----------------------------------------------------
@mixin ellipsis(
  $rows: 1,
  $max-width: 100%,
  $display: inline-block
) {
  @if $rows == 1 {
    @if $display {
      display: $display;
    }
    @if $max-width {
      max-width: $max-width;
    }
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
  } @else {
    overflow: hidden;
    display: -webkit-box;
    display: box;
    -webkit-line-clamp: $rows;
    line-clamp: $rows;
    -webkit-box-orient: vertical;
    box-orient: vertical;
  }
}
